In [1]:
from bs4 import BeautifulSoup

In [3]:
import requests

In [16]:
url = "https://www.santander.pl/regulation_file_server/download?id=150273&lang=pl_PL"
url2 = "https://www.santander.pl/klient-indywidualny/oszczednosci-i-inwestycje/lokata-dla-ciebie"
url3 = "https://www.tanie-konto.pl/ranking-lokat/"

In [17]:
page = requests.get(url3)

In [18]:
soup = BeautifulSoup(page.text, 'html')

In [23]:
find_table = soup.find('table')

KeyError: 0

In [22]:
len(find_table)

5

In [31]:
find_table2 = soup.find('table', class_ = 'tablesaw top_table_block full_width_rating tablesorter')

In [35]:
print(find_table2)

TypeError: 'NoneType' object is not callable

In [33]:
find_table2 == find_table # true

True

In [39]:
columns_raw = find_table.find_all('th')

In [42]:
columns_raw

[<th class="product_col_name" data-tablesaw-priority="persist">Bank</th>,
 <th class="col_name" data-tablesaw-priority="1">Nazwa </th>,
 <th class="col_name" data-tablesaw-priority="1">Wysokość oprocentowania</th>,
 <th class="col_name" data-tablesaw-priority="1">Dodatkowe informacje</th>,
 <th class="buttons_col_name" data-tablesaw-priority="1"></th>]

In [52]:
type(columns_raw[0])

bs4.element.Tag

In [56]:
columns = [c_raw.text for c_raw in columns_raw[:-1]]

In [57]:
columns

['Bank', 'Nazwa ', 'Wysokość oprocentowania', 'Dodatkowe informacje']

In [58]:
import pandas as pd

In [59]:
df = pd.DataFrame(columns = columns)

In [60]:
df

Empty DataFrame
Columns: [Bank, Nazwa , Wysokość oprocentowania, Dodatkowe informacje]
Index: []

In [62]:
column_data = find_table2.find_all('tr')

In [78]:
for i, row in enumerate(column_data[1:], 1):
  row_data = row.find_all("td")
  indiv_row_data = [rd.text.strip() for rd in row_data]
  print(indiv_row_data)
  print("~~~~~~~~~~")
  created_row = []
  created_row.append(i)
  created_row.append(indiv_row_data[1].replace('\n', '').replace('Analiza lokaty', ''))
  created_row.append(indiv_row_data[2])
  created_row.append(indiv_row_data[3].replace('\n', ''))
  #print(i)
  #print(indiv_row_data[1].replace('\n', '').replace('Analiza lokaty', ''))
  print(created_row)
  df.loc[len(df)] = created_row
#   created_row = [i, ]
  break

['', 'Nest Lokata Witaj\n\n\n \n1000 - 25000 zł\n\n\n \n6 miesięcy\n\n\n\nAnaliza lokaty', '7,1%', 'Tylko dla nowych klientów\nNależy założyć Nest Konto, a następnie zapewnić w każdym miesiącu trwania lokaty wpływ min. 2000 zł oraz wykonać min. 3 dowolne transakcje (płatność kartą/blikiem, przelew)\nNależy wyrazić zgody marketingowe\n\n\n\n\n\n\n Lokatę można założyć w bankowości elektronicznej  w ciągu 30 dni od otwarcia darmowego konta w Nest Banku', 'Sprawdź']
~~~~~~~~~~
[1, 'Nest Lokata Witaj 1000 - 25000 zł 6 miesięcy', '7,1%', 'Tylko dla nowych klientówNależy założyć Nest Konto, a następnie zapewnić w każdym miesiącu trwania lokaty wpływ min. 2000 zł oraz wykonać min. 3 dowolne transakcje (płatność kartą/blikiem, przelew)Należy wyrazić zgody marketingowe Lokatę można założyć w bankowości elektronicznej  w ciągu 30 dni od otwarcia darmowego konta w Nest Banku']

In [79]:
df

,Bank,Nazwa,Wysokość oprocentowania,Dodatkowe informacje
0,1,Nest Lokata Witaj 1000 - 25000 zł 6 miesięcy,"7,1%",Tylko dla nowych klientówNależy założyć Nest K...